<!--
 * @Author: your name
 * @Date: 2020-03-22 15:56:11
 * @LastEditTime: 2020-03-22 17:17:59
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: /webpack_learn/09_demo/src/search/index.html
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div id="root"><!--HTML_PLACEHOLDER--></div>
    <script type="text/javascript" src="https://11.url.cn/now/lib/16.2.0/react.min.js"></script>
    <script type="text/javascript" src="https://11.url.cn/now/lib/16.2.0/react-dom.min.js"></script>
    <!--INITIAL_DATA_PLACEHOLDER-->
</body>
</html>